<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="garden.lampada.testprobe">
  <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="36" />
  <application android:label="Lampada Test Probe" android:debuggable="false" />
  <instrumentation android:name="garden.lampada.testprobe.DatabaseProbe" android:targetPackage="com.nf404.twinkler" />
</manifest>
